<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Travel Planner</title>
</head>
<body>
    <div id="hero-image">
    <div class='overlay'></div>
    <header>
        <div class='logo'> Travel Planner </div>
        <!-- <div>Navigation</div> -->
    </header>
    <main>
    <section class='main'>
    <h3 class='sub-heading'> --Discover your next adventure!</h3>
    <p class='description'>Find the best <br />place to travel</p>
    <p class='travel-description'> Type in any major city  and the date you want to leave, <br />
        then we will do the rest.</p>
    </section>
</main>
<!-- form section -->
<!-- style inspiration https://dribbble.com/shots/9683197-Traveland-website -->
   <section>
       <div class=form-container>
       <form class='form' onsubmit='return Client.handleSubmit(event)'>
        <div class='location'>
           <input type='text' id='location'  placeholder='Enter city name...' />
        </div>
        <div class='date'>
           <input id='date' type='date'/>
        </div>
        <ul>
          <!-- <div class='round1'></div> -->
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <!-- <div class='round2'></div> -->
      </ul>
        <div class='button'>
           <button id='search-button' type="button" value="submit" >Search</button>
        </div>
       </form>
    </div>
   </section>
</div>
<!-- result section -->
    <section>
      <div id="result">
        <div class="div1"> 
          <div id="imgContainer"></div>
        </div>
        <div class="div2"> 
          <div class="text-container">
            <p id='city'></p>
            <p id='travel-info'></p>
            <p id='leaving-date'></p>
            <div class="weather-box">
            <p id='temp'></p>
            <p id="summary"></p>
          </div>
          <div class="city-info">
            <p id="population"></p>
            <p id="language"></p>
            <p id="currencies"></p>
          </div>
        </div>
        <div class="px-6 py-4">
          <span id="tags"></span>
         </div>
          <button id='close'></button>
        </div>
    </section>
    <script>
          if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js')
      .then(function(registration) {
        registration.addEventListener('updatefound', function() {
          // If updatefound is fired, it means that there's
          // a new service worker being installed.
          var installingWorker = registration.installing;
          console.log('A new service worker is being installed:',
            installingWorker);

          // You can listen for changes to the installing service worker's
          // state via installingWorker.onstatechange
        });
      })
      .catch(function(error) {
        console.log('Service worker registration failed:', error);
      });
    } else {
      console.log('Service workers are not supported.');
    }
  </script>

   
</body>
</html>

