<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Travel Planner</title>
</head>
<body>
    <div class="hero-image">
    <div class='overlay'></div>
    <header>
        <div class='logo'> Travel Planner </div>
        <div>Navigation</div>
    </header>
    <main>
    <section class='main'>
    <h3 class='sub-heading'> __ Enjoy Travel</h3>
    <p class='description'>Find the best <br />place to travel</p>
    <p class='travel-description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /> Aliquam est consectetur mollitia commodi unde veniam.</p>
    </section>
</main>
<!-- form section -->
   <section>
       <div class=form-container>
       <form class='form'>
        <div class='location'>
           <input type='text' placeholder='location...' />
        </div>
        <div class='date'>
           <input class='date' type='date' placeholder="when.." />
        </div>
        <div class='button'>
           <button type="button">Search</button>
        </div>
       </form>
    </div>
   </section>
</div>
<!-- result section -->
    <section>
       <div id='result'>
           
       </div>
    </section>
</body>
</html>