<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Travel Planner</title>
</head>
<body>
    <div class="hero-image">
    <div class='overlay'></div>
    <header>
        <div class='logo'> Travel Planner </div>
        <div>Navigation</div>
    </header>
    <main>
    <section class='main'>
    <h3 class='sub-heading'> __ Enjoy Travel</h3>
    <p class='description'>Find the best <br />place to travel</p>
    <p class='travel-description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /> Aliquam est consectetur mollitia commodi unde veniam.</p>
    </section>
</main>
<!-- form section -->
   <section>
       <div class=form-container>
       <form class='form' onsubmit='return Client.handleSubmit(event)'>
        <div class='location'>
           <input type='text' id='location'  placeholder='location...' />
        </div>
        <div class='date'>
           <input id='date' type='date'/>
        </div>
        <div class='button'>
           <button id='search-button' type="button" value="submit" >Search</button>
           <!-- <input type="submit" id='search-button' value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"> -->
        </div>
       </form>
    </div>
   </section>
</div>
<!-- result section -->
    <section>
       <div id='result'>
           
       </div>
    </section>
    <script src='../js/handleSubmit.js'></script>
</body>
</html>