@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url("https://use.typekit.net/kda6gbg.css");
$font-stack: source-code-pro, monospace;

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F3F5F9;
    font-family: $font-stack;
}

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    max-width: 100%;
}   

.filter {
    content: '';
    -webkit-filter: blur(5px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(5px);
}

#city {
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}

.img{
    background-image: url("../media/background.jpg");
}