$font-stack: 'Barlow', sans-serif;;
$font-color: white;
$sub-heading:#b4b4b4;

.form-container {
    padding: 10px 40px;
}
.button {
    color: white;
    cursor: pointer;
    font-family: $font-stack;
    background-color: #131720;
    text-align: center;
    padding: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;

        &:hover {
            cursor: pointer;
            -webkit-animation-name: pulse;
            animation-name: pulse;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: $font-stack;
}
input[type="date"] {
    color: $sub-heading;
    height: 50px;
    font-family: $font-stack;
}


