$font-color: white;

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    color: $font-color;
    // font-family: 'Quicksand', sans-serif;
    font-family: adobe-caslon-pro, serif;
    font-style: normal;

}
