$font-stack: 'adobe-caslon-pro, serif';
$font-color: white;
$sub-heading:#b4b4b4;

.main {
    margin-left: 40px;
    margin-top: 10px;

    .sub-heading {
        font-family: $font-stack;
        color: $font-color;
        font-size: 14px;
        margin-bottom: 15px;
        opacity: 0.5;
    }
    .description {
        font-family: $font-stack;
        color: $font-color;
        font-size: 10vw;
        margin-bottom: 15px;
    }
    .travel-description {
        line-height: 1.6;
        color: $font-color;
        opacity: 0.5;
        font-size: 14px;
        margin-right: 45px;
        font-family: $font-stack;
        
    }
}