$font-stack: 'Barlow', sans-serif;
$font-color: white;
$sub-heading:#b4b4b4;

.main {
    margin-left: 40px;
    margin-top: 10px;
}
    .sub-heading {
        font-family: $font-stack;
        color: $font-color;
        font-size: 2vw;
        margin-bottom: 15px;
        opacity: 0.5;
        line-height: 1.6em;
    }
    .description {
        font-family: $font-stack;
        color: $font-color;
        font-size: 10vw;
        margin-bottom: 15px;
    }
    .travel-description {
        line-height: 1.6;
        color: $font-color;
        opacity: 0.5;
        font-size: 2vw;
        margin-right: 45px;
        font-family: $font-stack;
        line-height: 1.6em;
        
    }


    // div.container {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 100%;
    //   }
    //   #imgContainer {
    //     animation-name: roll-in-left;
    //     animation-duration: 1s;
    //     animation-timing-function: ease;
    //     animation-delay: 0s;
    //     animation-iteration-count: 1;
    //     animation-direction: normal;
    //     animation-fill-mode: none;
    //   }
    //   @keyframes roll-in-left {
    //     0%{
    //       -webkit-transform: translateX(-800px) rotate(-540deg);
    //       transform: translateX(-800px) rotate(-540deg);
    //       opacity: 0;
    //     }
    //     100%{
    //       -webkit-transform: translateX(0) rotate(0deg);
    //       transform: translateX(0) rotate(0deg);
    //       opacity: 1;
    //     }
    //   }
      