$bg-color: white;

@media only screen and (min-width: 500px) {
  .description {
    font-size: 10vw;
  }
  .sub-heading, .travel-description{
      font-size: 3vw;
      margin-top: 15px;
  }
  .form-container {
    position: relative;
    top: 90px;
  }
  
}

@media only screen and (min-width: 600px) {
  .description {
    font-size: 8vw;
  }
  .sub-heading, .travel-description {
      font-size: 2.5vw;
      margin: 15px, 0;
  }

  .form-container {
    position: relative;
    top: 90px;
  }
  #container {
    width: 100%;
    max-width: 540px;
    padding: 1rem;
    border-radius: 8px;    
    margin: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .hero-image {
    height: 90%;
  }
  .description {
    font-size: 8vw;
  }
  .sub-heading {
    font-size: 2vw;
    margin-top: 55px;
}
.travel-description {
  font-size: 2.5vw;
}
  .form-container {
    background: white;
    border-radius: 4px;
    margin: 30px;
    box-shadow: 0 2px 2px -2pc #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    align-items: center;
    height: 110px;
    overflow: hidden;
    position: relative;
    top: 165px;
    // &:before {
    //     content: "";
    //     z-index: 99;
    //     position: relative;
    //     top: -18px;
    //     left: 66%;
    //     display: block;
    //     width: 16px;
    //     height: 16px;
    //     border-radius: 16px;
    //     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        
    //   }
    //   &:after {
    //     content: "";
    //     z-index: 99;
    //     position: absolute;
    //     bottom: 2.5px;
    //     left: 66.4%;
    //     display: block;
    //     width: 16px;
    //     height: 16px;
    //     border-radius: 16px;
    //     background-color:  #F3F5F9;
    //   }
  }

  .form {
    display: flex;
    padding-bottom: 13px; 
    position: relative;
    top: 10px;
  }
  
  .location {
    width: 35%;
  }
  
  .button {
    width: 25%;
    height: 54px;
    margin-left: 25px;
    position: relative;
    left: 65px;
   
  }
     ul {
      z-index: 99;
      position: relative;
      left: 40px;
      top: -25px;
      list-style-type: none;
      li {
        width: 2px;
        height: 2px;
        border-radius: 2px;
        margin: 6px 0;
        background-color: #ccc;
      }
    }

    .description {
        font-size: 8vw;
    }
    .sub-heading, .travel-description {
      font-size: 2vw;
    }
    #parent {
      display: flex;
      flex-direction: row !important;
      height: 100%;
    }
    .text-container {
      padding: 1em;
    }
}

@media only screen and (min-width: 894px) {
    .description{
      font-size: 7vw;
    }
    .sub-heading, .travel-description {
      font-size: 1.7vw;
    }
    .form-container {
      top: 180px;
    }
    .button {
      left: 45px;
      width: 20%;
    }
    .date {
      width: 40%;
    }
    ul {
      left: 20px;
    }
    #container {
      margin: 12em;
    }
}

@media only screen and (min-width: 992px) {
  header {
    margin-left: 30px;
  }
  .form-container {
    top: 170px;
    margin: 50px;
  }

  .main {
    margin-left: 70px;

  }
  .description {
    font-size: 6.5vw;
  }
  .sub-heading, .travel-description {
    font-size: 1.5vw;
  }
  #container {
    margin: 16em;
    width: 1850px;
  }
}
@media only screen and (min-width: 1072px) {
  .form-container {
    top: 105px;
    margin: 50px;
  }

  .description {
    font-size: 7vw;
  }
  .sub-heading, .travel-description {
    font-size: 1.5vw;
  }
}


@media only screen and (min-width: 1200px) {
  header {
    margin-left: 30px;
  }
  .form-container {
    top: 90px;
    margin: 50px;
  }

  .main {
    margin-left: 70px;

  }
  .description {
    font-size: 6.5vw;
  }
  .sub-heading, .travel-description {
    font-size: 1.4vw;
  }
}

@media only screen and (min-width: 1300px) {
  .form-container {
    top: 105px;
  }
  .description {
    font-size: 5.5vw;
  }
  .sub-heading, .travel-description {
    font-size: 1.2vw;
  }
}


